/* ==============================
    ROOT VARIABLES (Global Styles)
============================== */

:root {
--primary: #28CB8B;
--secondary: #263238;
--neutral_dark: #263238;
--neutral_light: #F5F7FA;
--neutral_white: #FFFF;
--neutral_Dgrey: #4D4D4D;
--neutral_grey:#717171;
--main_text:#18191F;
--brand_primary:#4CAF4F;
--secondary-gray:#18191F;
--font-main: 'Inter', sans-serif;
}

/* ==============================
       RESET & BASE STYLES
============================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main)
}

h1,h2,h3,h4,h5{
    font-weight: 500;
}

/* ==============================
    HEADER / HERO SECTION
============================== */

.main-header{
    background-color: var(--neutral_light);
}

header .my-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding:30px 120px;
    align-items: center;
    color: var(--main_text);
}

.my-header .burger-menu{
    display: none;
}

.my-header .burger-menu span{
    width: 18.75px;
    height: 2px;
    background-color: #000;
}

.my-header nav{
    display: flex;
}

.my-header nav ul{
    display: flex;
    gap:50px;
}

.my-header nav ul li{
    list-style: none;
    padding: 5px;
}

.my-header ul li:hover{
    background-color: var(--primary);
    padding: 5px;
    border-radius: 5px;
}

button{
    padding:8px;
    border: none;
    border-radius: 6px;
    background-color:var(--brand_primary);
    color:var(--neutral_white);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap:5px
}

/* ANIMATION */
button:hover{
    scale: 1.1;
    box-shadow: 0 4px 8px 0 rgba(171, 190, 209, 0.8);
}

header .hero{
    width: 100%;
    padding: 96px 120px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .hero .graphic{
    display: flex;
    gap: 104px;
}

.graphic .text{
    width:70%;
}

.graphic h1{
    font-size: 64px;
    color: var(--neutral_Dgrey);
}

.graphic span{
    color: var(--brand_primary);
}

.graphic p{
    margin: 16px 0;
    color: var(--neutral_grey);
}

.graphic .graph-img{
    width:30%
}

.graph-img .illustration{
    width:100%
}

.hero img{
    width:fit-content;
}

/* ==============================
    LAYOUT DIMENSIONS & FONTS
============================== */

.clients, 
.community,
.marketing,
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px 120px;
}

.clients header,
.community header,
.marketing header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 16px;
    margin: 10px;
    align-items: center;
}

.clients header h1,
.community header h1,
.marketing header h1{
    font-size: 36px;
    color: var(--neutral_grey);
}

.clients header p,
.community header p,
.marketing header p{
    color: var(--secondary-gray);
}

/* ==============================
       MAIN LAYOUT
============================== */

.clients .logos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.community .groups{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap:5%;
}

/* ==============================
       CARD COMPONENT
============================== */

.community .groups .card{
    width: 60%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(171, 190, 209, 0.2);
    text-align: center;
    border-radius: 8px;
    gap: 8px;
    padding: 20px 32px;
    justify-content: space-between;
    align-items: center;
}

.card h3{
    font-size: 28px;
    color:var(--neutral_Dgrey);
}

.card p{
    font-size: 14px;
    color: var(--neutral_grey);
}

.card img{
    width: fit-content;
}

/* ==============================
       SECTION INFO COMPONENT
============================== */

/* ANIMATION */
.info .graph-img:hover {
    border-radius: 20px;
    transform: translateY(12px);
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.5);
}

.info{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 80px 120px;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.info .text{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
}

.info .text h2{
    font-size: 36px;
    color: var(--neutral_Dgrey);
}

.info .text p{
    color: var(--neutral_grey);
}

/* ==============================
       SECTION ASIDE COMPONENT
============================== */

aside {
    width: 100%;
    display: flex;
    padding: 64px 120px;
    background-color: var(--neutral_light);
    justify-content: space-between;
    align-items: center;
}

.numbers .text{
    width:50%;
}

.numbers  h1{
    font-size: 64px;
    color: var(--neutral_Dgrey);
}

.numbers  span{
    color: var(--brand_primary);
}

.numbers  .text p{
    margin: 16px 0;
    color: var(--secondary-gray);
}

.numbers  .counts{
    width: 50%;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
}

.counts .ciphers{
    width: 50%;
    display: flex;
    gap: 16px;
    align-items: center;
}

.numbers .counts h2{
    font-size: 28px;
    color: var(--main_text);
    width: 100%;
}

.numbers .counts p{
    color: var(--neutral_grey);
    margin: 0;
    width: 100%;
}

.ciphers .icon{
    width:100%
}

.ciphers img{
    width:fit-content;
}

.ciphers .text{
    width:100%;
}

/* ==============================
    SECTION OPINION COMPONENT
============================== */

.opinion{
    gap:20px
}

.opinion .image{
    border: 1px;
    border-radius: 10px;
}

.opinion .text{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:16px;
}

.opinion .text h4{
    font-size: 20px;
    color: var(--brand_primary);
}

.opinion .text p{
    color: var(--neutral_grey);
}

.text .customers{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.marketing{
    margin-bottom: 150px;
}

/* ==============================
       CARD COMPONENT
============================== */

.marketing .cards{
    display: flex;
    width: 100%;
    gap:20px;
}

.marketing .cards h5{
    font-size: 20px;
    text-align: center;
    color: var(--neutral_grey);
}

.marketing .readmore{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.readmore div{
    position: absolute;
    background-color: var(--neutral_light);
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 8px;
    gap: 16px;
    top:70%;
    box-shadow: 0 4px 8px 0 rgba(171, 190, 209, 0.2);
}

.readmore div button{
    background-color: var(--neutral_light);
    color: var(--brand_primary);
    gap: 8px;
}

/* ==============================
       FOOTER
============================== */

footer{
    padding:0
}

footer .demo{
    background-color: var(--neutral_light);
    width: 100%;
    padding: 32px 120px;
    gap:32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.demo h1{
    font-size: 64px;
    color: var(--neutral_dark);
    text-align: center;
}

footer .my-footer{
    padding: 32px 120px;
    display: flex;
    width: 100%;
    background-color: var(--secondary);
    justify-content: space-between;
    color: var(--neutral_light);
    font-size: 14px;
}

.my-footer .company{
    display: flex;
    flex-direction: column;
    gap:40px;
}

.my-footer .company .social{
    display: flex;
    flex-direction: row;
    gap:16px
}

.company .social button{
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--neutral_Dgrey);
}

.my-footer .info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.my-footer .info h4{
    font-size: 20px;
}

.my-footer .info article{
    display: flex;
    flex-direction: column;
    gap:24px
}

.my-footer .info ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.my-footer .info ul li{
    list-style: none;
}

.email{
    position: relative;
}

.email span{
    position: absolute;
    display: block;
    bottom: .5rem;
    left: 12.8rem;
}

.my-footer input{
    border-radius: 8px;
    border: none;
    background-color: var(--neutral_Dgrey);
    height: 40px;
    padding: 10px;
    color: rgb(255, 255, 255, 0.3);
}

 /* ==============================
    BREAKPOINT 1: TABLET (≥ 768px)
    ============================== */

@media (max-width:768px){

    h1,h2,h3,h4,h5{
        font-weight: 400;
    }

    header .my-header{
        justify-content: space-between;
        padding:10px 32px;
    }

    .my-header .burger-menu{
        width: 36px;
        height: 60px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        justify-content: center;
    }

    .my-header{
        width:80%;
        align-items: center;
    }

    .my-header nav{
        display: none;
    }

    button{
        padding:4px;
        font-size: 12px;
    }

    header .hero{
        padding:10px 20px;
    }

    header .hero .graphic{
        gap: 30px;
    }

    .graphic h1{
        font-size: 22px;
    }

    .graphic p{
        font-size: 12px;
    }

    .clients, 
    .community,
    .marketing,
    footer{
        padding: 10px 20px;
    }

    .clients header,
    .community header,
    .marketing header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 16px;
        margin: 10px;
        align-items: center;
    }

    .clients header h1,
    .community header h1,
    .marketing header h1{
        font-size: 18px;
    }

    .clients header p,
    .community header p,
    .marketing header p{
        font-size: 12px;
    }

    .community .groups{
        overflow-x: scroll;
    }

    .community .groups .card{
        border-radius: 8px;
        gap: 3px;
        padding: 10px 10px;
        width: 100%;
    }

    .card h3{
        font-size: 16px;
    }

    .card p{
        font-size: 10px;
    }

    .info{
        display: flex;
        flex-direction: column-reverse;
        padding:10px 30px;
        gap: 10px;
    }

    .info .text{
        gap: 10px;
        width: 100%;
    }

    .info .text h2{
        font-size: 20px;  
    }

    .info .text p{
        font-size: 12px
    }

    aside {
        flex-direction: column;
        padding:20px 20px;
    }


    .numbers .text{
        width:100%;
    }

    .numbers  h1{
        font-size: 22px;
    }

    .numbers  .text p{
        margin: 12px 0;
        font-size: 12px;
    }

    .numbers  .counts{
        width: 100%;
        gap: 50px;
    }

    .counts .ciphers{
        gap: 10px;
    }

    .numbers .counts h2{
        font-size: 16px;
    }


    .opinion .text h4{
        font-size: 16px;
    }

    .opinion .text p{
        font-size: 12px;
    }

    .text .customers{
        flex-wrap: wrap;
        gap:20px;
        justify-content: center;
        align-items: center;
    }

    .marketing{
        margin-bottom: 150px;
    }

    .marketing .cards{
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

    .marketing .cards h5{
        font-size: 16px;
    }

    .readmore div{
        padding: 10px;
        width: 70%;
        top:80%;
    }

    footer{
        padding:0
    }

    footer .demo{
        gap:22px;
    }

    .demo h1{
        font-size: 24px;
    }

    footer .my-footer{
        padding:10px 20px;
        flex-direction: column;
        align-items: flex-start;
        gap:30px;
    }

    .my-footer .company{
        gap:20px;
    }

    .my-footer .info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:20px
    }

    .my-footer .info h4{
        font-size: 18px;
    }

    .my-footer .info article{
        gap:20px
    }

    .my-footer .info article:last-of-type{
        grid-column-start: span 2;
        align-items: center;
    }
}
